

<!doctype html>
<html>

<head>
    <title>CoolCalcs</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
    <link rel="icon" type="image/x-icon" href="./logo.ico">
    
</head>

<body>
    <nav class="navbar">
        <div class="logo"><a href="<%= baseURL %>/">Cool<span style="color: #ffe45e">Calcs</span></a></div>
        <div class="nav-links">
            <a href="#about">About</a>
            <a href="#calculators">Calculators</a>
        </div>
    </nav>



    <div class="site">
        <div class="textbox">
            <h1 id="about">About</h1>
            <hr>
            <p>It's a site with a bunch of calculators that I find useful/wanted to have!</p>
        </div>

        <div class="textbox">
            <h1 id="calculators">Calculators</h1>
            <hr>
            <div class="calc-container">
                <a class="calc" href="<%= baseURL %>/bf-level">Blox Fruits (Roblox) - Level</a>
                <a class="calc" href="<%= baseURL %>/bf-mastery">Blox Fruits (Roblox) - Mastery</a>
                <a class="calc" href="<%= baseURL %>/*">asdf</a>
                <a class="calc" href="<%= baseURL %>/*">faaf</a>

            </div>
        </div>


    </div>
    




</body>


</html>